/*----FOND-PAGE----*/
body{
  background-image: url("fond-bois2.jpg");
  font-family: 'Lato';
  color: black;
}
/*-----HEADER-----*/
header{
  width: 1300px;
  margin-bottom: 70px;
  /*border: solid 1px black;*/
  /*border-radius: 10px;*/
  height: 220px;
  background: rgba(214,236,232,0.8);
  font-family: Arial;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
header h1{
  font-family: 'pacifico';
  font-size: 50px;
  margin-bottom: 0px;
}
header {
  font-family: 'dancing script';
  font-size: 20px;
}
header p {
  margin-top: 0px;
  margin-bottom: 0px;
}
header img{
  height: 200px;
  float: left;
  padding: 10px;
}

/*menu*/
header li{
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}
header ul{
  margin-top: -5px;
  margin-left: 10px;
  width: 600px;
}

header li a{
  color: black;
  text-decoration: none;
}
header li a:hover{color: white;}
header ul{
  position: absolute;
  padding-left: 190px;
  padding-top: 57px;
}
header ul li li{
  display: none;
  margin-top: 10px;
}
header ul li:hover li{
  display: block;
}
header ul ul{
  border: none;
}

header ul li:hover ul{
  border: solid 1px rgba(130,198,186,0.9);
  z-index: 1;
  margin-top: 10px;
  margin-left: -5px;
  border-radius: 3px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgba(91,215,211,0.4);
  
  width: 150px;
}



nav>ul>li{
  background-color: rgba(91,215,211,0.4);
  border: solid 1px rgba(130,198,186,0.9);
  border-radius: 2px;
  padding: 5px;
  /*box-shadow: 0px 0px 5px black ;*/
}

/*barre de recherches*/
header form{
  position: absolute;
  padding-top: 70px;
  margin-left: 80%;
}

/*---BAS DE PAGE-----*/
footer ul li{
  display: inline-block;
  margin: 10px;
}

footer ul{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}