/*-----BODY-----*/
section{
  border: solid 1px rgba(130,198,186,0.9);
  border-radius: 4px;
  background-color: rgba(214,236,232,0.8);
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

section>div{
  float: right;
  margin-right: 140px;
  margin-top: 50px;
}

#ancien-prix{
  text-decoration: line-through;
}
#nouvprix{
  font-size: 27px;
  margin-top: 0;
}
#prix{
  display: inline;
}

/*menu-description*/

#description ul li{
  display: inline-block;
  margin-right: 30px;
}
#description ul{
  position: absolute;
}
#description ul a{
  color: black;
  text-decoration: none;
}
#description ul li li{
  display: none;
}
#description li:hover li{
  display: block;
  width: 300px;
}
#description li:hover a{
  text-decoration: underline;
}

#description{
  margin-bottom: 60px;
  margin-top: 100px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 500px;;
  height: 200px;
  overflow: auto;
  overflow-x: hidden;
}
#description li:hover #valnut{
  margin-left: -265px;
  width: 700px;
}
#description li:hover #descriptionmenu{
  margin-left: -50px;
}
#description li:hover #ingredients{
  margin-left: -165px;
}
#panier{
  border: none;
  box-shadow: none;
  width: 120px;
  float: right;
  top: 230px;
  left: 320px;
}
section img{
  border: solid 2px rgba(130,198,186,0.9);
  box-shadow: -2px 2px 5px;
  position: relative;
  width: 400px;
  left: 100px;
  top: 70px;
}
